body{
  font-family: Arial;
  background:#0f172a;
  color:white;
}

.container{
  width:60%;
  margin:auto;
  margin-top:40px;
}

h1{
  font-weight:600;
  text-align:center;
}

form{
  background:#111827;
  padding:20px;
  border-radius:12px;
  margin-bottom:20px;
}

label{
  font-size:14px;
}

input{
  width:100%;
  padding:10px;
  margin-top:5px;
  margin-bottom:15px;
  border-radius:6px;
  border:none;
}

button{
  width:100%;
  background:#3b82f6;
  border:none;
  padding:12px;
  border-radius:8px;
  color:white;
  font-size:16px;
}

.card{
  background:#020617;
  padding:20px;
  margin-top:15px;
  border-radius:12px;
}
